{% extends "myapp/base.html" %}
{% block body %}
    <!--outter container-->
    <div class="m-20">
        <div class="grid grid-cols-3 max-w-7xl mx-auto gap-10">
            <!--image container-->
            <div class="border col-span-1 rounded-sm shadow-lg">
                <img class=" w-120 h-90 " src="{{product.image.url}}" alt="">
            </div>
            <!--product details-->
            <div class="col-span-1 space-y-4 rounded-lg">
                <p class="text-3xl font-semibold">{{product.name}}</p>
                <div class="text-orange-500 text-lg">★★★★☆ <span class="text-gray-500">(12,354)</span> </div>
                <p class="text-green-600 font-bold text-2xl">${{product.price}}</p>
                <p class="text-gray-500 text-sm font-medium">Includes all the taxes</p>
                <ul class="text-lg">
                    <li>{{product.description}}</li>
                </ul>
            </div>
            <!--buy box-->
            <div class=" col-span-1 border rounded-lg p-5 space-y-5 shadow-lg">
                <p class="text-2xl font-semibold">${{product.price}}</p>
                <div>
                    <select name="" id="select_box">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <p class="text-blue-500 font-bold text-sm">🚐 FREE delivery by Monday</p>
                {% if product.stock %}            
                    <p class="text-green-500 font-semibold text-sm">(✅In Stock)</p>
                {% else %}
                    <p  class="text-red-500 font-semibold text-sm">(❌Out of Stock)</p>
                {% endif %}
                <button id="atc" value="{{product.id}}" class="w-full bg-yellow-400 text-black-600 font-semibold text-lg p-2 rounded-2xl">Add to Cart</button>
                <button class="w-full bg-gray-800 text-white font-semibold text-lg p-2 rounded-2xl">Buy Now</button>
                <p class="text-gray-500 text-sm font-semibold">Sold By: ASD Sellers</p>
            </div>
        </div>
    </div>
    <script>
        $(document).on("click","#atc", function(e){
            console.log("Add to cart called!!");
            $.ajax({
                type : "POST",
                url : "{% url 'cart:cart_add' %}",
                data : {
                    csrfmiddlewaretoken : "{{csrf_token}}",
                    product_id : $("#atc").val(),
                    product_quantity : $("#select_box option:selected").text(),
                },
                success: function(json){
                    console.log(json);
                    document.getElementById("cart-qty").textContent = json.cart_len
                },
            });
        });
    </script>
{% endblock %}