{% extends "myapp/base.html" %}
{% block body %}
    <div>
        <h1 class="text-2xl px-32 pt-15 ">Today's Deals</h1>
        <div class="px-32">
            <hr class="border-t my-6" >
        </div>
        <div class="grid grid-cols-4 mx-32 gap-6">
            {% for product in products %}
                <div class="rounded-lg shadow-lg m-1 border border-gray-200 p-4">
                    <a href="{{product.get_absolute_url}}">
                        <img class="rounded-md w-80 h-60 mx-auto object-cover" src="{{product.image.url}}" alt="">
                        <p class="font-semibold text-lg" href="">{{product.name}}</p>
                        <p class="text-green-500 font-bold text-lg">${{product.price}}</p>
                        <p class="text-gray-600">{{product.description}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>    
{% endblock %}


